/****************************************************************************
*** Author: William Pegg
*** Date: 2/20/2014
*** Description: This is a simple CSS file 
***              which contains the styles index.html 
****************************************************************************/
body {
    padding: 10px !important;   
}
.Disabled{
	background: #E8E8E8;
}
.Enabled{
	background: linear-gradient(rgba(2, 165, 222, 0.36), rgba(2, 154, 207, 0.36) 6%, rgba(2, 143, 192, 0.36));
}
.simpleLabel{
	font-size: 11px;
	
}
.simpleDiv{
	width:0px;
}
#main{
	width:50%;
	margin-left:auto;
	margin-right:auto;
}
#weigthLabel{
	margin-left:3px;
}
#howTo{
	font-size:10px;
	font-color:#E8E8E8;
}