//- Try to resize
.owl
  .owl__head
  .owl__eyes
    .owl__eye
    .owl__eye
  .owl__legs
    .owl__leg
    .owl__leg
    
 .owl_1
  .owl_1__head
  .owl_1__eyes
    .owl_1__eye
    .owl_1__eye
  .owl_1__legs
    .owl_1__leg
    .owl_1__leg
    
 .owl_2
  .owl_2__head
  .owl_2__eyes
    .owl_2__eye
    .owl_2__eye
  .owl_2__legs
    .owl_2__leg
    .owl_2__leg
 
 .owl_3
  .owl_3__head
  .owl_3__eyes
    .owl_3__eye
    .owl_3__eye
  .owl_3__legs
    .owl_3__leg
    .owl_3__leg

.moon

.branch