.container
	#spectrum
	.wrap
		.volume-control-panel
			button#vol-dec.volume-btn.volume-btn-minus.glyphicon.glyphicon-minus
			button#vol-inc.volume-btn.volume-btn-plus.glyphicon.glyphicon-plus
			.volume-bar
				#vol-value.volume-value
		button#butt.btn.btn-success.btn-xlg.glyphicon.glyphicon-play
